@use 'colours' as c

@media screen and (max-width: 768px)

    #root

        #inner
            max-width: 85%

            #sectionsContainer

                width: 100%
                max-width: unset

                .sectionTitle
                    &:after
                        content: '+'
                        float: right

                .sectionTitle.active
                    background-color: c.$tab-selected-colour

                    &:after
                        content: '-'

                .sectionContent
                    display: initial

                    .contentInner
                        transition: max-height .4s ease
                        display: block
                        max-height: 0
                        overflow: hidden
                        background-color: c.$content-bg-colour

                        *
                            margin: 20px
            
            #tabularContentContainer
                display: none